{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "max-len": "off",
    "no-confusing-arrow": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-unused-expressions": "off",
    "quote-props": "off",
  },
}
